<div>
  <div>
    <header>
      <div class="wrapper">
        <div class="betweenContainer"><a href="/">
            <div class="logo"><span>
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">ビザストーリー</font>
                </font>
              </span></div>
          </a>
          <div class="menu"><a href="/posts/new">
              <div class="btn"><span>
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">ストーリーを書く</font>
                  </font>
                </span></div>
            </a></div>
        </div>
      </div>
    </header>
    <section class="intro">
      <div class="wrapper">
        <div class="text">
          <p class="strong"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">これは、ビザを承認するための経験を共有する場所です。</font></font></p>
          <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">私たちの使命は、海外で働くことの真実を学び、将来それを改善することです。</font></font></p>
        </div>
      </div>
    </section>
    <section class="stories">
      <div class="wrapper">
        <ul>
          <li><a href="/posts/lkwWI7rySAqjmgELUxHJ">
              <div class="story">
                <div class="content">
                  <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">テスト</font></font></p>
                </div>
                <div class="betweenContainer">
                  <ul>
                    <li><img src="/images/smile.png">
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">1</font>
                      </font>
                    </li>
                    <li><img src="/images/meh.png">
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">0</font>
                      </font>
                    </li>
                    <li>
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">0コメント</font>
                      </font>
                    </li>
                  </ul>
                </div>
              </div>
            </a></li>
          <li><a href="/posts/t23opIB5fRrgLjUn1vFv">
              <div class="story">
                <div class="content">
                  <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">jjj</font></font></p>
                </div>
                <div class="betweenContainer">
                  <ul>
                    <li><img src="/images/smile.png">
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">1</font>
                      </font>
                    </li>
                    <li><img src="/images/meh.png">
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">3</font>
                      </font>
                    </li>
                    <li>
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">0コメント</font>
                      </font>
                    </li>
                  </ul>
                </div>
              </div>
            </a></li>
          <li><a href="/posts/wkI94pSYKiNDAYiLwD5A">
              <div class="story">
                <div class="content">
                  <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2年前にダイバーシティビザプログラムに申請しました。</font><font style="vertical-align: inherit;">これはあなたが住んでいる場所にメールとアドレスのみを必要とするので、誰もが応募者を取得できます。</font><font style="vertical-align: inherit;">しかし、承認される可能性は0.7％です。</font><font style="vertical-align: inherit;">私がそれに選ばれたことを知ったとき、私は本当に驚きました！</font><font style="vertical-align: inherit;">オンラインでアプリケーションに個人情報を掲載します。</font><font style="vertical-align: inherit;">私は大使館での面接の指導を受けたでしょう。</font><font style="vertical-align: inherit;">それを通過した後、私はビザを受け取りました。</font><font style="vertical-align: inherit;">グリーンカードは、米国に移動してから1週間後に手元に届きます。</font></font></p>
                </div>
                <div class="betweenContainer">
                  <ul>
                    <li><img src="/images/smile.png">
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">4</font>
                      </font>
                    </li>
                    <li><img src="/images/meh.png">
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">2</font>
                      </font>
                    </li>
                    <li>
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">0コメント</font>
                      </font>
                    </li>
                  </ul>
                </div>
              </div>
            </a></li>
          <li><a href="/posts/RZBuTS9aTSexdhcxOwkR">
              <div class="story">
                <div class="content">
                  <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">これは私の友人の物語です。</font><font style="vertical-align: inherit;">彼は、米国に拠点を置くテクノロジースタートアップが後援する承認済みのJ1ビザを取得しました。</font><font style="vertical-align: inherit;">彼はシリコンバレーでの仕事に長い間取り組んできました。</font><font style="vertical-align: inherit;">そこで彼は、Hacker Newsを介して、ある種の企業をそこから適用し始めました。</font><font style="vertical-align: inherit;">最終的に、彼はリモートの仕事を得た。</font><font style="vertical-align: inherit;">しばらくの間、彼は会社のために仕事をしました。</font><font style="vertical-align: inherit;">そして、彼は直接飛行機に乗ってオフィスに行きました。</font><font style="vertical-align: inherit;">協力するという彼の提案は実を結びました。</font></font></p>
                </div>
                <div class="betweenContainer">
                  <ul>
                    <li><img src="/images/smile.png">
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">6</font>
                      </font>
                    </li>
                    <li><img src="/images/meh.png">
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">0</font>
                      </font>
                    </li>
                    <li>
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">0コメント</font>
                      </font>
                    </li>
                  </ul>
                </div>
              </div>
            </a></li>
          <li><a href="/posts/iJ8D9YNcaV8C84SNzU8q">
              <div class="story">
                <div class="content">
                  <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4年前、アメリカでF1を取得しました。</font><font style="vertical-align: inherit;">約1か月半かかりました。</font><font style="vertical-align: inherit;">私はビザを後援するサンフランシスコの語学学校を見つけることから始めました。</font><font style="vertical-align: inherit;">学校のスポンサーになるには約300ドルかかり、2週間後には航空便で確認済みの文書を受け取ることになります。</font><font style="vertical-align: inherit;">ビザを申請するにはこれらの書類が必要なので、少なくとも出発の2ヶ月前に準備する必要があります。</font></font></p>
                </div>
                <div class="betweenContainer">
                  <ul>
                    <li><img src="/images/smile.png">
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">22</font>
                      </font>
                    </li>
                    <li><img src="/images/meh.png">
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">62</font>
                      </font>
                    </li>
                    <li>
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">0コメント</font>
                      </font>
                    </li>
                  </ul>
                </div>
              </div>
            </a></li>
        </ul>
      </div>
    </section>
    <footer>
      <div class="wrapper">
        <div class="sign">
          <div class="logo"><span>
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">ビザストーリー</font>
              </font>
            </span></div><a href="https://shyamady.dev" target="_blank">
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">20週間で20の製品</font></font></p></a>
        </div>
      </div>
    </footer>
  </div>
</div><h1>こんちわ</h1>
<router-outlet></router-outlet>
